.Items {
  display: flex;
  justify-content: center;
}
.ButtonAdd {
  margin: 25px;
  padding: 5px;
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: dimgray;
  border-radius: 5px;
  margin-left: 0;
}
.NameItem {
  margin: 25px;
  padding: 5px;
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  border-radius: 5px;
  width: 500px;
  margin-right: 0;
}