.NameForm {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  font-family: "Calibri", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.Search{
  margin: 15px;
  padding: 5px;
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: aliceblue;
  border-radius: 5px;
}